*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    color: #062B3E;
}
.gradient_background{
    background-image: linear-gradient(to right, #215773, #7FC5E3, #B6CA87);
}
nav{
    width: 100%;
}
.moja_prva_klasa{
    display: flex;
    align-items: center;
    justify-content: right;
}
.space{
    padding: 20px;
}
.space1{
    padding-top: 20px;
}
.stil_slova{
    font-size: 23px;
}
/*naslovna*/
.prvi_div{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-left: 3rem;*/
}
.uvod{
    margin-left: 80px;
}
#krug{
    margin-bottom: 30px;
}
.naslov{
    font-weight: bold;
    font-size: 55px;
    color: #062B3E;
}
.podnaslov{
    font-size: 23px;
}
.dugme{
    background-color: #062B3E;
    border-color: none;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    padding: 20px 80px;
    margin-top: 50px;
}
.slika_prva{
    width: 55rem;
    margin-right: 0px;
}
/*@media screen and (max-width: 430px){
    .prvi_div{
        margin: 0px;
        margin-top: 50px;
        #krug{
            margin-top: 20px;
        }
    }
    .slika_prva{
        width: 430px;
    }
}*/
.trg{
    width: 100%;
    margin: 100px 0 100px 0;
}
.row{
    margin: 0 0px 100px 150px;
    text-align: right;
}
.row1 h1{
    margin-top: 30px;
    margin-bottom: 20px;
}
.row1 h2{
    margin-bottom: 20px;
}
.row1 p{
    margin-left: 30px;
}
.row2{
    margin-right: 80px;
}
.paragraf1 h1{
    margin-bottom: 20px;
}
.paragraf1 h2{
    margin-bottom: 20px ;
}
.paragraf1 p{
    margin-right: 30px;
}
.paragraf{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 170px 100px 170px;
}
.dugme:hover{
    background-color: white;
    border-color: #062B3E;
    color: #062B3E;
}
.jovana{
    clear: both;
    background-image: linear-gradient(to right, #B6CA87, #7FC5E3, #215773);
    /*display: flex;*/
    padding: 100px;
    align-items: center;
    justify-content: center;
    height: 400px;
    color: black;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.box1{
    justify-content: space-evenly;
    text-decoration: none;
}
.box2{
    padding: 10px;
}

/*znamenitosti*/

.slika1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0 50px 0;
}
.flex h1{
    font-weight: 600;
    font-size: 50px;
}
.tekst{
    margin: 50px 100px 50px 430px;
    width: 50%;
}

/*istorija*/

.istorija{
    margin: 100px 200px 50px 200px;
}
.istorija h1{
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 50px;
}
.istorija h2{
    margin-bottom: 20px;
}
.par{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 150px 50px 150px;
}
.par img{
    float: left;
    width: 35%;
}
.float{
    float: right;
    text-align: right;
}
.float h2{
    margin-bottom: 50px;
    font-weight: 600;
}
.budim {
    clear: both;
    margin: 100px 200px 70px 200px;
}
.budim h2{
    font-weight: 600;
    margin-bottom: 30px;
}
.mostic{
    width: 100%;
    height: 750px;
}
.obrazovanje{
    margin: 50px 200px 50px 200px;
    float: right;
    display: block;
}
.umetnost{
    margin: 100px 200px 100px 200px;
}
.umetnost img{
    float: right;
}
.umetnost h2{
    margin-bottom: 30px;
    font-weight: 600;
}

/*kontakt*/

.joca h3{
    margin-top: 100px;
}
.forma{
    height: 800px;
    display: block;
    align-items: center;
    justify-content: center;
}
.forma p{
    display: flex;
    align-items: center;
    justify-content: center;
}
form input{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
    padding: 20px;
    width: 700px;
    margin: 30px;
}
form button{
    border-radius: 50px;
    background-color: white;
    color: black;
    border: none;
    padding: 20px 50px;
    margin-left: 580px;
}
form{
    margin: 150px 370px;
}